@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    // scroll-snap-type: x mandatory;
    // overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 10px 50px;
}

nav .logo {
    float: left;
}

nav .logo img {
    height: 80px;
    transition: .5s;
}

nav.black .logo img {
    height: 60px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a {
    line-height: 80px;
    color: #262626;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #f00;
}

.section {
    display: grid;
    grid-template-rows: repeat(3, 100%);
    // scroll-snap-align: start;
    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    .section1, .section2, .section3 {
        padding: 7em;
        height: calc(100vh - 14em);
        width: calc(100% - 12em);
        color: white;
        // scroll-snap-align: start;

        h3 {
            font-size: 3em;
        }

        p {
            font-size: 1.2em;
        }
    }
}

.section1 {
    &:nth-of-type(1) {
        background: rgb(96, 175, 21);
    }

    &:nth-of-type(2) {
        background: rgb(21, 139, 175);
    }

    &:nth-of-type(3) {
        background: rgb(175, 21, 129);
    }
}


.section2 {
    &:nth-of-type(1) {
        background: rgb(21, 139, 175);
    }

    &:nth-of-type(2) {
        background: rgb(175, 21, 129);
    }

    &:nth-of-type(3) {
        background: rgb(96, 175, 21);
    }
}

.section3 {
    &:nth-of-type(1) {
        background: rgb(175, 21, 129);
    }

    &:nth-of-type(2) {
        background: rgb(96, 175, 21);
    }

    &:nth-of-type(3) {
        background: rgb(21, 139, 175);
    }
}

.scroll {
    overflow-y: hidden; 
}

